@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

p {
  color: #9597a5;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.23px;
  width: 327px;
}

header {
  width: 100%;
  min-height: 20px;
  padding: 22px 24px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
header>button{
  display: none;
}
.header-nav {
  background-color: red;
}

#hamburger {
  position: absolute;
  right: 10px;
  top: 27px;
  padding: 0 27px 100px 150px;
}

#close {
  display: none;
  position: absolute;
  right: 10px;
  top: 27px;
  padding: 0 27px 300px 300px;
  z-index: 2;
}

#hamburger:hover + #close {
  display: block;
}

#close:hover {
  display: block;
}
.header-nav:hover #hamburger {
  display: none;
}
.header-nav:hover ul {
  display: flex;
}


.header-nav > ul {
  position: absolute;
  background-color: #fff !important;
  left: 50%;
  transform: translateX(-50%);
  top: 99px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: calc(100% - 48px);
  padding: 32px 0;
  border-radius: 4px;
  display: none;

  li {
    a {
      text-decoration: none;
      color: #2d314d;
    }
  }
}
.desctop_nav{
  display: none;
}
.header_nav:hover > ul {
  display: flex;
}
/* .bg{
position: absolute; 
background-color:  #2d314d50;
width: 100%;
height: 664px;
z-index: -1;
left: 0;
top: 67px;
} */
/* .bg{
  position: absolute;
  background: linear-gradient(to bottom, #2D314D, #2D314D00);
  width: 100%;
  height: 664px;
  z-index: -1;
  left: 0;
  top: 67px;
  display: none;
} */
.main_top {
  width: 100%;
  min-height: 100px;
  padding: 0 24px 88px 24px;
  display: flex;
  flex-direction: column-reverse;
  background-image: url(./images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  background-position-y: -75px;
  background-position-x: right;
}
.main_top_left {
  width: 100%;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_top_right {
  width: 100%;
  min-height: 271px;
  position: relative;
}

.phone {
  width: 327px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -115px);
}

.main_top_left > h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: #2d314d;
  line-height: normal;
  margin-top: 41px;
  margin-bottom: 16px;
}

.main_top_left > p {
  margin-bottom: 32px;
}

.main_top_left > button {
  padding: 11px 34px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border-radius: 22px;
  background: linear-gradient(to bottom, #33d35e, #2ab6d9);
  border: none;
}

.main_midle {
  width: 100%;
  min-height: 400px;
  padding: 64px 24px;
  background-color: #f4f5f7;
}
.main_midle_top {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  margin-bottom: 56px;
}

.main_midle_bot {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main_midle_top > h2 {
  color: #2d314d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.571px;
}

.mid_card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mid_card > h3 {
  color: #2d314d;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.357px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.main_bot {
  background-color: #fafafa;
  padding: 88px 24px;
  width: 100%;
}

.main_bot > h2 {
  color: #2d314d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.571px;
  margin-bottom: 31px;
}

.bot_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.bot_card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 327px;
}

.bot_card > img {
  width: 100%;
}

.bot_card > div {
  padding: 25px 31px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bot_card > div > p {
  width: 265px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #9597a5;
}

.bot_card > div > h6 {
  color: #9597a5;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.156px;
}

.bot_card > div > h3 {
  color: #2d314d;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.286px;
  margin: 8px 0;
}
footer {
  width: 100%;
  min-height: 100px;
  background-color: #2c314c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.logo_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    align-self: center;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}
.icons > svg {
  fill: #fff;
}
.footer_nav > p {
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}
.bt_allrights {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.bt_allrights > button {
  padding: 11px 34px;
  border-radius: 22px;
  border: none;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.bt_allrights > button:hover {
  background: linear-gradient(to bottom, #33d35e66, #25caf466);
  background-color: #fff;
}
.main_top_left>button:hover{
  background: linear-gradient(to bottom, #33d35e66, #25caf466);
  background-color: #fff;
}



