@media(min-width:1200px){
main{
overflow: hidden;
}
header{
padding: 18px 165px;
}
.header-nav{
    display: none;
}
.desctop_nav{
 display: flex; 
 margin-top:0;
}
.desctop_nav >ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.desctop_nav > ul > li>a{
text-decoration: none;
color: #9597A5;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.11px;
}



header > button{
    padding: 11px 34px;
    border-radius: 22px;
    border: none;
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: flex; 
}

.main_top{
    flex-direction: row;
    padding: 170px 24px 178px 165px;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x:650px;
    background-position-y:-265px ;
}
.phone{
width:732px ;
height: 901px;
transform: translate(-250px,-280px);
}
.main_top_left{
align-items: start;

}
.main_top_left>h2{
    text-align: left;
    width: 420px;
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 24px;
    margin-top: 0;
}

.main_top_left>p{
    text-align: left;
    width: 447px;
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: 400;
}
.main_midle{
padding: 96px 165px ;
}
.main_midle_top{
align-items: start;

br{
    display: none;
}
p{
    width: 635px;
    font-size: 18px;
    text-align: left;
    
}
}
.main_midle_bot{
flex-direction: row;
justify-content: space-between;
}
.mid_card{
    width: 255px;
    align-items: flex-start;
}
.mid_card>p{
    width: 255px;
    text-align: left;
    font-size: 16px;
}
.main_bot{
display: flex;
flex-direction: column;
padding: 80px 165px;
}
.bot_cards{
flex-direction: row;
justify-content: space-between;

}
.bot_card{
    width: 255px;
}
.bot_card>img{
    width: 255px;
    height: 200px;
}
.bot_card>div{
   padding: 25px 24px;

}
.bot_card>div>p{
    width: 207px;
}
.main_bot>h2{
    text-align: left;
    align-self: flex-start;
    font-size: 40px;
    font-weight: 300;
    line-height: 64px;
    margin-bottom: 40px;

}
footer{
    flex-direction: row;
    padding: 48px 165px;
    justify-content: flex-start;

}
.logo_icons{
    gap: 23px;
    margin-bottom: 0;
}
.bt_allrights{
   margin-left: auto;
   align-items: end;
   margin-top: 0;
   align-self: flex-start;
  
}
.bt_allrights>p{
    text-align: right;
}
.footer_nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    margin-left: 131px;
    column-gap: 30px;
    row-gap: 8px;
    align-self: flex-start;
    margin-top: 0;

}
.footer_nav>p{
    width: 40%;
    text-align: left;

}
button:hover{
background: linear-gradient(to bottom, #33d35e66, #25caf466);
background-color: #fff;
}
.icons>svg:hover{
fill: #30C88F;
}
.footer_nav>p:hover{
   color: #30C88F ; 
}
}